/* ----------------------Pre Styling ----------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(47, 102, 150);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  color: #333;
  flex-direction: column;
  text-align: center;
}
.dd-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dd-justify-space-between {
  justify-content: space-between;
}

.dd-bold {
  font-weight: bold;
}

.dd-width-100 {
  width: 100px;
}
.dd-width-250 {
  width: 250px;
}
.dd-width-500 {
  width: 500px;
}

.dd-grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}
/* ----------------------Header Section ----------------------- */
.project {
  min-width: 1106px;
  height: 100px;
  background-color: rgb(47, 102, 150);
  font-size: 50px;
  color: whitesmoke;
}
.project .img {
  height: 60px;
  margin: 0 40px;
}
.nav-items {
  list-style: none;
  font-size: 20px;
  background-color: #a4cae9;
  height: 60px;
  font-weight: bold;
}
.nav-item {
  padding: 20px;
  margin: 0 10px;
  cursor: pointer;
}
.nav-item a {
  text-decoration: none;
  color: #333;
}
.nav-item a:hover,
.nav-item:active {
  color: rgb(106, 105, 105);
}
.nav-item:hover {
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
}
/* ---------------------- Main Section ----------------------- */
.main {
  min-height: 100vh;
}
.location-search {
  margin-top: 100px;
}
.form {
  margin-bottom: 20px;
}
.form .input {
  padding: 8px;
  font-size: 16px;
  border: 2px solid rgb(106, 105, 105);
  width: 400px;
  background: #e2e0e0;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.form .button {
  width: 100px;
  padding: 8px;
  background: #a4cae9;
  color: #333;
  font-size: 16px;
  border: 1px solid rgb(118, 146, 168);
  border-left: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
.form .city,
.form .state,
.form .center {
  margin-left: 10px;
  border-radius: 5px;
}
.form .button:hover,
.form .button:active {
  background-color: rgb(118, 146, 168);
  transition: 0.4s ease-in-out;
}

.card {
  min-height: 20px;
  min-width: 1100px;
  background-color: #a4cae9;
  margin: 5px auto;
  padding: 3px;
  font-size: 20px;
}
.card-h {
  background-color: #99b9cf;
}

/* <--------------------------footer section----------------------------> */

.section-footer {
  background-color: #3e7092;
}
.footer-links {
  display: grid;
  max-width: 1106px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
.logo-footer .img {
  width: 70%;
}
.links {
  width: 100%;
}
.links .footer-heading {
  font-size: 30px;
  margin: 20px auto;
}

.links .dd-footer-ul {
  list-style: none;
}
.links .dd-footer-ul .dd-footer-li {
  text-align: center;
  margin-bottom: 10px;
}
.links .dd-footer-ul .dd-footer-li .dd-footer-items {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 200;
}
.links .dd-footer-ul .dd-footer-li .dd-footer-items .footer-icon {
  font-weight: bold;
}
.links .dd-footer-ul .dd-footer-li .dd-footer-items:hover,
.links .dd-footer-ul .dd-footer-li .dd-footer-items:active {
  color: #90b3d0;
}
